pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2
PyJWT>=2.0.0, <3.0.0
aiohttp>=3.10.2
aiohttp-retry==2.8.3
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
