flake8
mock
nose
six
requests>=2.0.0
PyJWT>=1.4.2
twine
bleach
certifi
cffi
chardet
cryptography
docutils==
entrypoints
flake8
idna
mccabe
mock
nose
pkginfo
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pytz
readme-renderer
requests
requests-toolbelt
six
tqdm
twine
urllib3
webencodings
