r"""
    This code was generated by
   ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Conversation Orchestrator
    Manage configurations, conversations, participants, and communications. Create configurations to define capture rules and channel settings, then use conversations to group related communications.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""

from __future__ import annotations

from datetime import datetime
from typing import Any, Dict, Optional
from twilio.base import deserialize, values
from twilio.base.api_response import ApiResponse
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version


class OperationInstance(InstanceResource):
    """
    :ivar operation_id: Unique identifier for the long-running operation.
    :ivar status: Current status of the operation.
    :ivar created_at: Timestamp when the operation was created.
    :ivar completed_at: Timestamp when the operation completed. Only present for completed or failed operations.
    :ivar status_url: URL to poll for operation status.
    :ivar error:
    :ivar related: Named resource identifiers associated with this operation. Keys depend on the operation type: - config-create, config-update, config-delete: configurationId - conversation-delete: conversationId
    """

    def __init__(
        self, version: Version, payload: Dict[str, Any], sid: Optional[str] = None
    ):
        super().__init__(version)

        self.operation_id: Optional[str] = payload.get("operationId")
        self.status: Optional["OperationInstance.str"] = payload.get("status")
        self.created_at: Optional[datetime] = deserialize.iso8601_datetime(
            payload.get("createdAt")
        )
        self.completed_at: Optional[datetime] = deserialize.iso8601_datetime(
            payload.get("completedAt")
        )
        self.status_url: Optional[str] = payload.get("statusUrl")
        self.error: Optional[str] = payload.get("error")
        self.related: Optional[Dict[str, str]] = payload.get("related")

        # Only set _solution if path params are provided (not None)
        if sid is not None:
            self._solution = {
                "sid": sid,
            }

        self._context: Optional[OperationContext] = None

    @property
    def _proxy(self) -> "OperationContext":
        """
        Generate an instance context for the instance, the context is capable of
        performing various actions. All instance actions are proxied to the context

        :returns: OperationContext for this OperationInstance
        """
        if self._context is None:
            self._context = OperationContext(
                self._version,
                sid=self._solution["sid"],
            )
        return self._context

    def fetch(self) -> "OperationInstance":
        """
        Fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        return self._proxy.fetch()

    async def fetch_async(self) -> "OperationInstance":
        """
        Asynchronous coroutine to fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        return await self._proxy.fetch_async()

    def fetch_with_http_info(self) -> ApiResponse:
        """
        Fetch the OperationInstance with HTTP info


        :returns: ApiResponse with instance, status code, and headers
        """
        return self._proxy.fetch_with_http_info()

    async def fetch_with_http_info_async(self) -> ApiResponse:
        """
        Asynchronous coroutine to fetch the OperationInstance with HTTP info


        :returns: ApiResponse with instance, status code, and headers
        """
        return await self._proxy.fetch_with_http_info_async()

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        context = " ".join("{}={}".format(k, v) for k, v in self._solution.items())
        return "<Twilio.Conversations.V2.OperationInstance {}>".format(context)


class OperationContext(InstanceContext):

    def __init__(self, version: Version, sid: str):
        """
        Initialize the OperationContext

        :param version: Version that contains the resource
        :param sid:
        """
        super().__init__(version)

        # Path Solution
        self._solution = {
            "sid": sid,
        }
        self._uri = "/ControlPlane/Operations/{sid}".format(**self._solution)

    def _fetch(self) -> tuple:
        """
        Internal helper for fetch operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        headers = values.of({})

        headers["Accept"] = "application/json"

        return self._version.fetch_with_response_info(
            method="GET", uri=self._uri, headers=headers
        )

    def fetch(self) -> OperationInstance:
        """
        Fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        payload, _, _ = self._fetch()
        return OperationInstance(
            self._version,
            payload,
            sid=self._solution["sid"],
        )

    def fetch_with_http_info(self) -> ApiResponse:
        """
        Fetch the OperationInstance and return response metadata


        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = self._fetch()
        instance = OperationInstance(
            self._version,
            payload,
            sid=self._solution["sid"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    async def _fetch_async(self) -> tuple:
        """
        Internal async helper for fetch operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        headers = values.of({})

        headers["Accept"] = "application/json"

        return await self._version.fetch_with_response_info_async(
            method="GET", uri=self._uri, headers=headers
        )

    async def fetch_async(self) -> OperationInstance:
        """
        Asynchronous coroutine to fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        payload, _, _ = await self._fetch_async()
        return OperationInstance(
            self._version,
            payload,
            sid=self._solution["sid"],
        )

    async def fetch_with_http_info_async(self) -> ApiResponse:
        """
        Asynchronous coroutine to fetch the OperationInstance and return response metadata


        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = await self._fetch_async()
        instance = OperationInstance(
            self._version,
            payload,
            sid=self._solution["sid"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        context = " ".join("{}={}".format(k, v) for k, v in self._solution.items())
        return "<Twilio.Conversations.V2.OperationContext {}>".format(context)


class OperationList(ListResource):

    def __init__(self, version: Version):
        """
        Initialize the OperationList

        :param version: Version that contains the resource

        """
        super().__init__(version)

    def get(self, sid: str) -> OperationContext:
        """
        Constructs a OperationContext

        :param sid:
        """
        return OperationContext(self._version, sid=sid)

    def __call__(self, sid: str) -> OperationContext:
        """
        Constructs a OperationContext

        :param sid:
        """
        return OperationContext(self._version, sid=sid)

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        return "<Twilio.Conversations.V2.OperationList>"
