r"""
    This code was generated by
   ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from datetime import datetime
from typing import Any, Dict, Optional, Union
from twilio.base import deserialize, values
from twilio.base.api_response import ApiResponse

from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version


class SmsFeedbackInstance(InstanceResource):
    class Outcome(object):
        CONFIRMED = "confirmed"
        UNCONFIRMED = "unconfirmed"
        RECEIVED = "received"
        NOT_RECEIVED = "not-received"
        DELAYED = "delayed"

    """
    :ivar account_sid: 
    :ivar message_sid: 
    :ivar outcome: 
    :ivar date_created: 
    :ivar date_updated: 
    :ivar uri: 
    """

    def __init__(
        self,
        version: Version,
        payload: Dict[str, Any],
        account_sid: Optional[str] = None,
        message_sid: Optional[str] = None,
    ):
        super().__init__(version)

        self.account_sid: Optional[str] = payload.get("account_sid")
        self.message_sid: Optional[str] = payload.get("message_sid")
        self.outcome: Optional["SmsFeedbackInstance.Outcome"] = payload.get("outcome")
        self.date_created: Optional[datetime] = deserialize.rfc2822_datetime(
            payload.get("date_created")
        )
        self.date_updated: Optional[datetime] = deserialize.rfc2822_datetime(
            payload.get("date_updated")
        )
        self.uri: Optional[str] = payload.get("uri")

        self._solution = {
            "account_sid": account_sid or self.account_sid,
            "message_sid": message_sid or self.message_sid,
        }

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        context = " ".join("{}={}".format(k, v) for k, v in self._solution.items())
        return "<Twilio.Api.V2010.SmsFeedbackInstance {}>".format(context)


class SmsFeedbackList(ListResource):
    def __init__(self, version: Version, account_sid: str, message_sid: str):
        """
        Initialize the SmsFeedbackList

        :param version: Version that contains the resource
        :param account_sid:
        :param message_sid:

        """
        super().__init__(version)

        # Path Solution
        self._solution = {
            "account_sid": account_sid,
            "message_sid": message_sid,
        }
        self._uri = (
            "/Accounts/{account_sid}/SMS/Messages/{message_sid}/Feedback.json".format(
                **self._solution
            )
        )

    def _create(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> tuple:
        """
        Internal helper for create operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        data = values.of(
            {
                "Outcome": outcome,
            }
        )
        headers = values.of({"Content-Type": "application/x-www-form-urlencoded"})

        headers["Content-Type"] = "application/x-www-form-urlencoded"

        headers["Accept"] = "application/json"

        return self._version.create_with_response_info(
            method="POST", uri=self._uri, data=data, headers=headers
        )

    def create(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> SmsFeedbackInstance:
        """
        Create the SmsFeedbackInstance

        :param outcome:

        :returns: The created SmsFeedbackInstance
        """
        payload, _, _ = self._create(outcome=outcome)
        return SmsFeedbackInstance(
            self._version,
            payload,
            account_sid=self._solution["account_sid"],
            message_sid=self._solution["message_sid"],
        )

    def create_with_http_info(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> ApiResponse:
        """
        Create the SmsFeedbackInstance and return response metadata

        :param outcome:

        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = self._create(outcome=outcome)
        instance = SmsFeedbackInstance(
            self._version,
            payload,
            account_sid=self._solution["account_sid"],
            message_sid=self._solution["message_sid"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    async def _create_async(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> tuple:
        """
        Internal async helper for create operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        data = values.of(
            {
                "Outcome": outcome,
            }
        )
        headers = values.of({"Content-Type": "application/x-www-form-urlencoded"})

        headers["Content-Type"] = "application/x-www-form-urlencoded"

        headers["Accept"] = "application/json"

        return await self._version.create_with_response_info_async(
            method="POST", uri=self._uri, data=data, headers=headers
        )

    async def create_async(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> SmsFeedbackInstance:
        """
        Asynchronously create the SmsFeedbackInstance

        :param outcome:

        :returns: The created SmsFeedbackInstance
        """
        payload, _, _ = await self._create_async(outcome=outcome)
        return SmsFeedbackInstance(
            self._version,
            payload,
            account_sid=self._solution["account_sid"],
            message_sid=self._solution["message_sid"],
        )

    async def create_with_http_info_async(
        self, outcome: Union["SmsFeedbackInstance.Outcome", object] = values.unset
    ) -> ApiResponse:
        """
        Asynchronously create the SmsFeedbackInstance and return response metadata

        :param outcome:

        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = await self._create_async(outcome=outcome)
        instance = SmsFeedbackInstance(
            self._version,
            payload,
            account_sid=self._solution["account_sid"],
            message_sid=self._solution["message_sid"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        return "<Twilio.Api.V2010.SmsFeedbackList>"
