"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version

from twilio.base.page import Page

# from twilio.rest.call.event import EventListInstancefrom twilio.rest.call.feedback import FeedbackListInstancefrom twilio.rest.call.feedback_summary import FeedbackSummaryListInstancefrom twilio.rest.call.notification import NotificationListInstancefrom twilio.rest.call.payment import PaymentListInstancefrom twilio.rest.call.recording import RecordingListInstancefrom twilio.rest.call.siprec import SiprecListInstancefrom twilio.rest.call.stream import StreamListInstancefrom twilio.rest.call.user_defined_message import UserDefinedMessageListInstancefrom twilio.rest.call.user_defined_message_subscription import UserDefinedMessageSubscriptionListInstance


class CallContext(InstanceContext):
    def __init__(self, version: Version, account_sid: str, sid: str):
        # TODO: needs autogenerated docs
        super().__init__(version)

        # Path Solution
        self._solution = { 'account_sid': account_sid, 'sid': sid,  }
        self._uri = '/Accounts/${account_sid}/Calls/${sid}.json'
        
        self._events = None
        self._feedback = None
        self._notifications = None
        self._payments = None
        self._recordings = None
        self._siprec = None
        self._streams = None
        self._user_defined_messages = None
        self._user_defined_message_subscriptions = None
    
    def delete(self):
        
        

        """
        Deletes the CallInstance

        :returns: True if delete succeeds, False otherwise
        :rtype: bool
        """
        return self._version.delete(method='DELETE', uri=self._uri, )
    
    def fetch(self):
        
        """
        Fetch the CallInstance

        :returns: The fetched CallInstance
        #TODO: add rtype docs
        """
        payload = self._version.fetch(method='GET', uri=self._uri, )

        return CallInstance(self._version, payload, account_sid=self._solution['account_sid'], sid=self._solution['sid'], )
        

        
    
    def update(self, body):
        data = values.of({
            'body': body,
        })

        payload = self._version.update(method='post', uri=self._uri, data=data, )

        return CallInstance(self._version, payload, account_sid=self._solution['account_sid'], sid=self._solution['sid'], )
        
        

        
    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.CallContext>'



class CallInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, sid: str):
        super().__init__(version)
        self._properties = { 
            'sid' : payload.get('sid'),
            'date_created' : payload.get('date_created'),
            'date_updated' : payload.get('date_updated'),
            'parent_call_sid' : payload.get('parent_call_sid'),
            'account_sid' : payload.get('account_sid'),
            'to' : payload.get('to'),
            'to_formatted' : payload.get('to_formatted'),
            '_from' : payload.get('from'),
            'from_formatted' : payload.get('from_formatted'),
            'phone_number_sid' : payload.get('phone_number_sid'),
            'status' : payload.get('status'),
            'start_time' : payload.get('start_time'),
            'end_time' : payload.get('end_time'),
            'duration' : payload.get('duration'),
            'price' : payload.get('price'),
            'price_unit' : payload.get('price_unit'),
            'direction' : payload.get('direction'),
            'answered_by' : payload.get('answered_by'),
            'api_version' : payload.get('api_version'),
            'forwarded_from' : payload.get('forwarded_from'),
            'group_sid' : payload.get('group_sid'),
            'caller_name' : payload.get('caller_name'),
            'queue_time' : payload.get('queue_time'),
            'trunk_sid' : payload.get('trunk_sid'),
            'uri' : payload.get('uri'),
            'subresource_uris' : payload.get('subresource_uris'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid'],'sid': sid or self._properties['sid'],
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = CallContext(
                self._version,
                account_sid=self._solution['account_sid'],sid=self._solution['sid'],
            )
        return self._context

    @property
    def events(self):
        return self._proxy.events
    @property
    def feedback(self):
        return self._proxy.feedback
    @property
    def notifications(self):
        return self._proxy.notifications
    @property
    def payments(self):
        return self._proxy.payments
    @property
    def recordings(self):
        return self._proxy.recordings
    @property
    def siprec(self):
        return self._proxy.siprec
    @property
    def streams(self):
        return self._proxy.streams
    @property
    def user_defined_messages(self):
        return self._proxy.user_defined_messages
    @property
    def user_defined_message_subscriptions(self):
        return self._proxy.user_defined_message_subscriptions
    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.CallInstance {}>'.format(context)



class CallList(ListResource):
    def __init__(self, version: Version, account_sid: str):
        # TODO: needs autogenerated docs
        super().__init__(version)

        # Path Solution
        self._solution = { 'account_sid': account_sid,  }
        self._uri = '/Accounts/${account_sid}/Calls.json'
        
        self._feedback_summaries = None

    """
    def create(self, body):
        data = values.of({
            'body': body,
        })

        payload = self._version.create(method='post', uri=self._uri, data=data, )

        return CallInstance(self._version, payload, account_sid=self._solution['account_sid'])
        
    """

    """
    def page(self, to, _from, parent_call_sid, status, start_time, start_time, start_time, end_time, end_time, end_time, page_size):
        
        data = values.of({
            'to': to,'_from': _from,'parent_call_sid': parent_call_sid,'status': status,'start_time': start_time,'start_time': start_time,'start_time': start_time,'end_time': end_time,'end_time': end_time,'end_time': end_time,'page_size': page_size,
        })

        payload = self._version.create(method='get', uri=self._uri, data=data, )

        return CallPage(self._version, payload, account_sid=self._solution['account_sid'], )
    """


    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.CallList>'

