"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version

from twilio.base.page import Page

# from twilio.rest.record.all_time import AllTimeListInstancefrom twilio.rest.record.daily import DailyListInstancefrom twilio.rest.record.last_month import LastMonthListInstancefrom twilio.rest.record.monthly import MonthlyListInstancefrom twilio.rest.record.this_month import ThisMonthListInstancefrom twilio.rest.record.today import TodayListInstancefrom twilio.rest.record.yearly import YearlyListInstancefrom twilio.rest.record.yesterday import YesterdayListInstance




class RecordList(ListResource):
    def __init__(self, version: Version, account_sid: str):
        # TODO: needs autogenerated docs
        super().__init__(version)

        # Path Solution
        self._solution = { 'account_sid': account_sid,  }
        self._uri = '/Accounts/${account_sid}/Usage/Records.json'
        
        self._all_time = None
        self._daily = None
        self._last_month = None
        self._monthly = None
        self._this_month = None
        self._today = None
        self._yearly = None
        self._yesterday = None

    """
    def page(self, category, start_date, end_date, include_subaccounts, page_size):
        
        data = values.of({
            'category': category,'start_date': start_date,'end_date': end_date,'include_subaccounts': include_subaccounts,'page_size': page_size,
        })

        payload = self._version.create(method='get', uri=self._uri, data=data, )

        return RecordPage(self._version, payload, account_sid=self._solution['account_sid'], )
    """


    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.RecordList>'

