"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource

from twilio.base.page import Page




class MediaContext(InstanceContext):
    def __init__(self, version: V2010, account_sid: str, message_sid: str, sid: str):
        # TODO: needs autogenerated docs
        super(MediaContextList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, message_sid, sid,  }
        self._uri = '/Accounts/${account_sid}/Messages/${message_sid}/Media/${sid}.json'
        
        
        def delete(self):
            
            
            """
            Deletes the MediaInstance

            :returns: True if delete succeeds, False otherwise
            :rtype: bool
            """
            return self._version.delete(method='DELETE', uri=self._uri, )
        
        def fetch(self):
            
            """
            Fetch the MediaInstance

            :returns: The fetched MediaInstance
            #TODO: add rtype docs
            """
            payload = self._version.fetch(method='GET', uri=self._uri, )
            return MediaInstance(
                self._version,
                payload,
                account_sidmessage_sidsid=self._solution['account_sid''message_sid''sid'],
            )
            
            
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.MediaContext>'



class MediaInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, message_sid: str, sid: str):
        super(MediaInstance, self).__init__(version)
        self._properties = { 
            'account_sid' = payload.get('account_sid'),
            'content_type' = payload.get('content_type'),
            'date_created' = payload.get('date_created'),
            'date_updated' = payload.get('date_updated'),
            'parent_sid' = payload.get('parent_sid'),
            'sid' = payload.get('sid'),
            'uri' = payload.get('uri'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid']'message_sid': message_sid or self._properties['message_sid']'sid': sid or self._properties['sid']
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = MediaContext(
                self._version,
                account_sid=self._solution['account_sid'],message_sid=self._solution['message_sid'],sid=self._solution['sid'],
            )
        return self._context

    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.MediaInstance {}>'.format(context)



class MediaListInstance(ListResource):
    def __init__(self, version: V2010, account_sid: str, message_sid: str):
        # TODO: needs autogenerated docs
        super(MediaListInstanceList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, message_sid,  }
        self._uri = '/Accounts/${account_sid}/Messages/${message_sid}/Media.json'
        
        
        def page(self, date_created, date_created, date_created, page_size):
            
            data = values.of({
                'date_created': date_created,'date_created': date_created,'date_created': date_created,'page_size': page_size,
            })

            payload = self._version.create(method='get', uri=self._uri, data=data, )

            return MediaPage(self._version, payload, account_sid=self._solution['account_sid']message_sid=self._solution['message_sid'])
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.MediaListInstance>'

