"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource

from twilio.base.page import Page




class MemberContext(InstanceContext):
    def __init__(self, version: V2010, account_sid: str, queue_sid: str, call_sid: str):
        # TODO: needs autogenerated docs
        super(MemberContextList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, queue_sid, call_sid,  }
        self._uri = '/Accounts/${account_sid}/Queues/${queue_sid}/Members/${call_sid}.json'
        
        
        def fetch(self):
            
            """
            Fetch the MemberInstance

            :returns: The fetched MemberInstance
            #TODO: add rtype docs
            """
            payload = self._version.fetch(method='GET', uri=self._uri, )
            return MemberInstance(
                self._version,
                payload,
                account_sidqueue_sidcall_sid=self._solution['account_sid''queue_sid''call_sid'],
            )
            
            
        
        def update(self, body):
            data = values.of({
                'body': body,
            })

            payload = self._version.update(method='post', uri=self._uri, data=data, )

            return MemberInstance(self._version, payload, account_sid=self._solution['account_sid'], queue_sid=self._solution['queue_sid'], call_sid=self._solution['call_sid'], )
            
            
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.MemberContext>'



class MemberInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, queue_sid: str, call_sid: str):
        super(MemberInstance, self).__init__(version)
        self._properties = { 
            'call_sid' = payload.get('call_sid'),
            'date_enqueued' = payload.get('date_enqueued'),
            'position' = payload.get('position'),
            'uri' = payload.get('uri'),
            'wait_time' = payload.get('wait_time'),
            'queue_sid' = payload.get('queue_sid'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid']'queue_sid': queue_sid or self._properties['queue_sid']'call_sid': call_sid or self._properties['call_sid']
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = MemberContext(
                self._version,
                account_sid=self._solution['account_sid'],queue_sid=self._solution['queue_sid'],call_sid=self._solution['call_sid'],
            )
        return self._context

    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.MemberInstance {}>'.format(context)



class MemberListInstance(ListResource):
    def __init__(self, version: V2010, account_sid: str, queue_sid: str):
        # TODO: needs autogenerated docs
        super(MemberListInstanceList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, queue_sid,  }
        self._uri = '/Accounts/${account_sid}/Queues/${queue_sid}/Members.json'
        
        
        def page(self, page_size):
            
            data = values.of({
                'page_size': page_size,
            })

            payload = self._version.create(method='get', uri=self._uri, data=data, )

            return MemberPage(self._version, payload, account_sid=self._solution['account_sid']queue_sid=self._solution['queue_sid'])
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.MemberListInstance>'

