"""
    This code was generated by
   ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version
from twilio.base.page import Page
from twilio.rest.api.v2010.address.dependent_phone_numbers import DependentPhoneNumberList


class AddressList(ListResource):

    def __init__(self, version: Version, account_sid: str):
        """
        Initialize the AddressList
        :param Version version: Version that contains the resource
        :param account_sid: The SID of the [Account](https://www.twilio.com/docs/iam/api/account) that is responsible for the Address resource to read.
        
        :returns: twilio.api.v2010.address..AddressList
        :rtype: twilio.api.v2010.address..AddressList
        """
        super().__init__(version)

        # Path Solution
        self._solution = { 'account_sid': account_sid,  }
        self._uri = '/Accounts/${account_sid}/Addresses.json'.format(**self._solution)
        
        
    
    
    
    
    def create(self, customer_name, street, city, region, postal_code, iso_country, friendly_name=values.unset, emergency_enabled=values.unset, auto_correct_address=values.unset, street_secondary=values.unset):
        """
        Create the AddressInstance
         :param str customer_name: The name to associate with the new address.
         :param str street: The number and street address of the new address.
         :param str city: The city of the new address.
         :param str region: The state or region of the new address.
         :param str postal_code: The postal code of the new address.
         :param str iso_country: The ISO country code of the new address.
         :param str friendly_name: A descriptive string that you create to describe the new address. It can be up to 64 characters long.
         :param bool emergency_enabled: Whether to enable emergency calling on the new address. Can be: `true` or `false`.
         :param bool auto_correct_address: Whether we should automatically correct the address. Can be: `true` or `false` and the default is `true`. If empty or `true`, we will correct the address you provide if necessary. If `false`, we won't alter the address you provide.
         :param str street_secondary: The additional number and street address of the address.
        
        :returns: The created AddressInstance
        :rtype: twilio.rest.api.v2010.address.AddressInstance
        """
        data = values.of({ 
            'CustomerName': customer_name,
            'Street': street,
            'City': city,
            'Region': region,
            'PostalCode': postal_code,
            'IsoCountry': iso_country,
            'FriendlyName': friendly_name,
            'EmergencyEnabled': emergency_enabled,
            'AutoCorrectAddress': auto_correct_address,
            'StreetSecondary': street_secondary,
        })

        payload = self._version.create(method='POST', uri=self._uri, data=data)
        return AddressInstance(self._version, payload, account_sid=self._solution['account_sid'])
    
    
    def stream(self, customer_name=values.unset, friendly_name=values.unset, iso_country=values.unset, limit=None, page_size=None):
        """
        Streams AddressInstance records from the API as a generator stream.
        This operation lazily loads records as efficiently as possible until the limit
        is reached.
        The results are returned as a generator, so this operation is memory efficient.
        
        :param str customer_name: The `customer_name` of the Address resources to read.
        :param str friendly_name: The string that identifies the Address resources to read.
        :param str iso_country: The ISO country code of the Address resources to read.
        :param int limit: Upper limit for the number of records to return. stream()
                          guarantees to never return more than limit.  Default is no limit
        :param int page_size: Number of records to fetch per request, when not set will use
                              the default value of 50 records.  If no page_size is defined
                              but a limit is defined, stream() will attempt to read the
                              limit with the most efficient page size, i.e. min(limit, 1000)

        :returns: Generator that will yield up to limit results
        :rtype: list[twilio.rest.api.v2010.address.AddressInstance]
        """
        limits = self._version.read_limits(limit, page_size)
        page = self.page(
            customer_name=customer_name,
            friendly_name=friendly_name,
            iso_country=iso_country,
            page_size=limits['page_size']
        )

        return self._version.stream(page, limits['limit'])

    def list(self, customer_name=values.unset, friendly_name=values.unset, iso_country=values.unset, limit=None, page_size=None):
        """
        Lists AddressInstance records from the API as a list.
        Unlike stream(), this operation is eager and will load `limit` records into
        memory before returning.
        
        :param str customer_name: The `customer_name` of the Address resources to read.
        :param str friendly_name: The string that identifies the Address resources to read.
        :param str iso_country: The ISO country code of the Address resources to read.
        :param int limit: Upper limit for the number of records to return. list() guarantees
                          never to return more than limit.  Default is no limit
        :param int page_size: Number of records to fetch per request, when not set will use
                              the default value of 50 records.  If no page_size is defined
                              but a limit is defined, list() will attempt to read the limit
                              with the most efficient page size, i.e. min(limit, 1000)

        :returns: Generator that will yield up to limit results
        :rtype: list[twilio.rest.api.v2010.address.AddressInstance]
        """
        return list(self.stream(
            customer_name=customer_name,
            friendly_name=friendly_name,
            iso_country=iso_country,
            limit=limit,
            page_size=page_size,
        ))

    def page(self, customer_name=values.unset, friendly_name=values.unset, iso_country=values.unset, page_token=values.unset, page_number=values.unset, page_size=values.unset):
        """
        Retrieve a single page of AddressInstance records from the API.
        Request is executed immediately
        
        :param str customer_name: The `customer_name` of the Address resources to read.
        :param str friendly_name: The string that identifies the Address resources to read.
        :param str iso_country: The ISO country code of the Address resources to read.
        :param str page_token: PageToken provided by the API
        :param int page_number: Page Number, this value is simply for client state
        :param int page_size: Number of records to return, defaults to 50

        :returns: Page of AddressInstance
        :rtype: twilio.rest.api.v2010.address.AddressPage
        """
        data = values.of({ 
            'CustomerName': customer_name,
            'FriendlyName': friendly_name,
            'IsoCountry': iso_country,
            'PageToken': page_token,
            'Page': page_number,
            'PageSize': page_size,
        })

        response = self._version.page(method='GET', uri=self._uri, params=data)
        return AddressPage(self._version, response, self._solution)

    def get_page(self, target_url):
        """
        Retrieve a specific page of AddressInstance records from the API.
        Request is executed immediately

        :param str target_url: API-generated URL for the requested results page

        :returns: Page of AddressInstance
        :rtype: twilio.rest.api.v2010.address.AddressPage
        """
        response = self._version.domain.twilio.request(
            'GET',
            target_url
        )
        return AddressPage(self._version, response, self._solution)


    def get(self, sid):
        """
        Constructs a AddressContext
        
        :param sid: The Twilio-provided string that uniquely identifies the Address resource to update.
        
        :returns: twilio.rest.api.v2010.address.AddressContext
        :rtype: twilio.rest.api.v2010.address.AddressContext
        """
        return AddressContext(self._version, account_sid=self._solution['account_sid'], sid=sid)

    def __call__(self, sid):
        """
        Constructs a AddressContext
        
        :param sid: The Twilio-provided string that uniquely identifies the Address resource to update.
        
        :returns: twilio.rest.api.v2010.address.AddressContext
        :rtype: twilio.rest.api.v2010.address.AddressContext
        """
        return AddressContext(self._version, account_sid=self._solution['account_sid'], sid=sid)

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AddressList>'










class AddressPage(Page):

    def __init__(self, version, response, solution):
        """
        Initialize the AddressPage

        :param Version version: Version that contains the resource
        :param Response response: Response from the API

        :returns: twilio.rest.api.v2010.address.AddressPage
        :rtype: twilio.rest.api.v2010.address.AddressPage
        """
        super().__init__(version, response)

        # Path solution
        self._solution = solution

    def get_instance(self, payload):
        """
        Build an instance of AddressInstance

        :param dict payload: Payload response from the API

        :returns: twilio.rest.api.v2010.address.AddressInstance
        :rtype: twilio.rest.api.v2010.address.AddressInstance
        """
        return AddressInstance(self._version, payload, account_sid=self._solution['account_sid'])

    def __repr__(self):
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AddressPage>'





class AddressContext(InstanceContext):
    def __init__(self, version: Version, account_sid: str, sid: str):
        # TODO: needs autogenerated docs
        super().__init__(version)

        # Path Solution
        self._solution = { 'account_sid': account_sid, 'sid': sid,  }
        self._uri = '/Accounts/${account_sid}/Addresses/${sid}.json'
        
        self._dependent_phone_numbers = None
    
    def delete(self):
        
        

        """
        Deletes the AddressInstance

        :returns: True if delete succeeds, False otherwise
        :rtype: bool
        """
        return self._version.delete(method='DELETE', uri=self._uri, )
    
    def fetch(self):
        
        """
        Fetch the AddressInstance

        :returns: The fetched AddressInstance
        #TODO: add rtype docs
        """
        payload = self._version.fetch(method='GET', uri=self._uri, )

        return AddressInstance(self._version, payload, account_sid=self._solution['account_sid'], sid=self._solution['sid'], )
        

        
    
    def update(self, friendly_name, customer_name, street, city, region, postal_code, emergency_enabled, auto_correct_address, street_secondary):
        data = values.of({
            'friendly_name': friendly_name,'customer_name': customer_name,'street': street,'city': city,'region': region,'postal_code': postal_code,'emergency_enabled': emergency_enabled,'auto_correct_address': auto_correct_address,'street_secondary': street_secondary,
        })

        payload = self._version.update(method='post', uri=self._uri, data=data, )

        return AddressInstance(self._version, payload, account_sid=self._solution['account_sid'], sid=self._solution['sid'], )
        
        

        
    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AddressContext>'



class AddressInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, sid: str):
        super().__init__(version)
        self._properties = { 
            'account_sid' : payload.get('account_sid'),
            'city' : payload.get('city'),
            'customer_name' : payload.get('customer_name'),
            'date_created' : payload.get('date_created'),
            'date_updated' : payload.get('date_updated'),
            'friendly_name' : payload.get('friendly_name'),
            'iso_country' : payload.get('iso_country'),
            'postal_code' : payload.get('postal_code'),
            'region' : payload.get('region'),
            'sid' : payload.get('sid'),
            'street' : payload.get('street'),
            'uri' : payload.get('uri'),
            'emergency_enabled' : payload.get('emergency_enabled'),
            'validated' : payload.get('validated'),
            'verified' : payload.get('verified'),
            'street_secondary' : payload.get('street_secondary'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid'],'sid': sid or self._properties['sid'],
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = AddressContext(
                self._version,
                account_sid=self._solution['account_sid'],sid=self._solution['sid'],
            )
        return self._context

    @property
    def dependent_phone_numbers(self):
        return self._proxy.dependent_phone_numbers
    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.AddressInstance {}>'.format(context)



