"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource

from twilio.rest.auth_type_calls.auth_calls_credential_list_mapping import AuthCallsCredentialListMappingListInstancefrom twilio.rest.auth_type_calls.auth_calls_ip_access_control_list_mapping import AuthCallsIpAccessControlListMappingListInstance




class AuthTypeCallsListInstance(ListResource):
    def __init__(self, version: V2010, account_sid: str, domain_sid: str):
        # TODO: needs autogenerated docs
        super(AuthTypeCallsListInstanceList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, domain_sid,  }
        self._uri = '/Accounts/${account_sid}/SIP/Domains/${domain_sid}/Auth/Calls.json'
        
        self._credential_list_mappings = None
        self._ip_access_control_list_mappings = None
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AuthTypeCallsListInstance>'

