"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource

from twilio.base.page import Page




class AuthorizedConnectAppContext(InstanceContext):
    def __init__(self, version: V2010, account_sid: str, connect_app_sid: str):
        # TODO: needs autogenerated docs
        super(AuthorizedConnectAppContextList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, connect_app_sid,  }
        self._uri = '/Accounts/${account_sid}/AuthorizedConnectApps/${connect_app_sid}.json'
        
        
        def fetch(self):
            
            """
            Fetch the AuthorizedConnectAppInstance

            :returns: The fetched AuthorizedConnectAppInstance
            #TODO: add rtype docs
            """
            payload = self._version.fetch(method='GET', uri=self._uri, )
            return AuthorizedConnectAppInstance(
                self._version,
                payload,
                account_sidconnect_app_sid=self._solution['account_sid''connect_app_sid'],
            )
            
            
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AuthorizedConnectAppContext>'



class AuthorizedConnectAppInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, connect_app_sid: str):
        super(AuthorizedConnectAppInstance, self).__init__(version)
        self._properties = { 
            'account_sid' = payload.get('account_sid'),
            'connect_app_company_name' = payload.get('connect_app_company_name'),
            'connect_app_description' = payload.get('connect_app_description'),
            'connect_app_friendly_name' = payload.get('connect_app_friendly_name'),
            'connect_app_homepage_url' = payload.get('connect_app_homepage_url'),
            'connect_app_sid' = payload.get('connect_app_sid'),
            'date_created' = payload.get('date_created'),
            'date_updated' = payload.get('date_updated'),
            'permissions' = payload.get('permissions'),
            'uri' = payload.get('uri'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid']'connect_app_sid': connect_app_sid or self._properties['connect_app_sid']
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = AuthorizedConnectAppContext(
                self._version,
                account_sid=self._solution['account_sid'],connect_app_sid=self._solution['connect_app_sid'],
            )
        return self._context

    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.AuthorizedConnectAppInstance {}>'.format(context)



class AuthorizedConnectAppListInstance(ListResource):
    def __init__(self, version: V2010, account_sid: str):
        # TODO: needs autogenerated docs
        super(AuthorizedConnectAppListInstanceList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid,  }
        self._uri = '/Accounts/${account_sid}/AuthorizedConnectApps.json'
        
        
        def page(self, page_size):
            
            data = values.of({
                'page_size': page_size,
            })

            payload = self._version.create(method='get', uri=self._uri, data=data, )

            return AuthorizedConnectAppPage(self._version, payload, account_sid=self._solution['account_sid'])
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.AuthorizedConnectAppListInstance>'

