"""
    This code was generated by
    ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio - Api
    This is the public Twilio REST API.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""


from twilio.base import deserialize
from twilio.base import serialize
from twilio.base import values
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource

from twilio.base.page import Page




class OutgoingCallerIdContext(InstanceContext):
    def __init__(self, version: V2010, account_sid: str, sid: str):
        # TODO: needs autogenerated docs
        super(OutgoingCallerIdContextList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid, sid,  }
        self._uri = '/Accounts/${account_sid}/OutgoingCallerIds/${sid}.json'
        
        
        def delete(self):
            
            
            """
            Deletes the OutgoingCallerIdInstance

            :returns: True if delete succeeds, False otherwise
            :rtype: bool
            """
            return self._version.delete(method='DELETE', uri=self._uri, )
        
        def fetch(self):
            
            """
            Fetch the OutgoingCallerIdInstance

            :returns: The fetched OutgoingCallerIdInstance
            #TODO: add rtype docs
            """
            payload = self._version.fetch(method='GET', uri=self._uri, )
            return OutgoingCallerIdInstance(
                self._version,
                payload,
                account_sidsid=self._solution['account_sid''sid'],
            )
            
            
        
        def update(self, body):
            data = values.of({
                'body': body,
            })

            payload = self._version.update(method='post', uri=self._uri, data=data, )

            return OutgoingCallerIdInstance(self._version, payload, account_sid=self._solution['account_sid'], sid=self._solution['sid'], )
            
            
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.OutgoingCallerIdContext>'



class OutgoingCallerIdInstance(InstanceResource):
    def __init__(self, version, payload, account_sid: str, sid: str):
        super(OutgoingCallerIdInstance, self).__init__(version)
        self._properties = { 
            'sid' = payload.get('sid'),
            'date_created' = payload.get('date_created'),
            'date_updated' = payload.get('date_updated'),
            'friendly_name' = payload.get('friendly_name'),
            'account_sid' = payload.get('account_sid'),
            'phone_number' = payload.get('phone_number'),
            'uri' = payload.get('uri'),
        }

        self._context = None
        self._solution = {
            'account_sid': account_sid or self._properties['account_sid']'sid': sid or self._properties['sid']
        }

    @property
    def _proxy(self):
        if self._context is None:
            self._context = OutgoingCallerIdContext(
                self._version,
                account_sid=self._solution['account_sid'],sid=self._solution['sid'],
            )
        return self._context

    

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        context = ' '.join('{}={}'.format(k, v) for k, v in self._solution.items())
        return '<Twilio.Api.V2010.OutgoingCallerIdInstance {}>'.format(context)



class OutgoingCallerIdListInstance(ListResource):
    def __init__(self, version: V2010, account_sid: str):
        # TODO: needs autogenerated docs
        super(OutgoingCallerIdListInstanceList, self).__init__(version)

        # Path Solution
        self._solution = { account_sid,  }
        self._uri = '/Accounts/${account_sid}/OutgoingCallerIds.json'
        
        
        def page(self, phone_number, friendly_name, page_size):
            
            data = values.of({
                'phone_number': phone_number,'friendly_name': friendly_name,'page_size': page_size,
            })

            payload = self._version.create(method='get', uri=self._uri, data=data, )

            return OutgoingCallerIdPage(self._version, payload, account_sid=self._solution['account_sid'])
        

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.Api.V2010.OutgoingCallerIdListInstance>'

