r"""
    This code was generated by
   ___ _ _ _ _ _    _ ____    ____ ____ _    ____ ____ _  _ ____ ____ ____ ___ __   __
    |  | | | | |    | |  | __ |  | |__| | __ | __ |___ |\ | |___ |__/ |__|  | |  | |__/
    |  |_|_| | |___ | |__|    |__| |  | |    |__] |___ | \| |___ |  \ |  |  | |__| |  \

    Twilio Memory API
    APIs for managing memory stores, profiles, events, and conversational intelligence capabilities.

    NOTE: This class is auto generated by OpenAPI Generator.
    https://openapi-generator.tech
    Do not edit the class manually.
"""

from __future__ import annotations

from datetime import datetime
from typing import Any, Dict, Optional
from twilio.base import deserialize, values
from twilio.base.api_response import ApiResponse
from twilio.base.instance_context import InstanceContext
from twilio.base.instance_resource import InstanceResource
from twilio.base.list_resource import ListResource
from twilio.base.version import Version


class OperationInstance(InstanceResource):
    """
    :ivar operation_id: The unique identifier for this operation.
    :ivar status: The current status of the operation.
    :ivar created_at: When the operation was created.
    :ivar status_url: URI to check operation status.
    :ivar completed_at: When the operation completed or failed.
    :ivar result:
    :ivar error:
    :ivar result_url: URL to fetch the resulting resource.
    """

    def __init__(
        self,
        version: Version,
        payload: Dict[str, Any],
        operation_id: Optional[str] = None,
    ):
        super().__init__(version)

        self.operation_id: Optional[str] = payload.get("operationId")
        self.status: Optional["OperationInstance.str"] = payload.get("status")
        self.created_at: Optional[datetime] = deserialize.iso8601_datetime(
            payload.get("createdAt")
        )
        self.status_url: Optional[str] = payload.get("statusUrl")
        self.completed_at: Optional[datetime] = deserialize.iso8601_datetime(
            payload.get("completedAt")
        )
        self.result: Optional[str] = payload.get("result")
        self.error: Optional[str] = payload.get("error")
        self.result_url: Optional[str] = payload.get("resultUrl")

        # Only set _solution if path params are provided (not None)
        if operation_id is not None:
            self._solution = {
                "operation_id": operation_id,
            }

        self._context: Optional[OperationContext] = None

    @property
    def _proxy(self) -> "OperationContext":
        """
        Generate an instance context for the instance, the context is capable of
        performing various actions. All instance actions are proxied to the context

        :returns: OperationContext for this OperationInstance
        """
        if self._context is None:
            self._context = OperationContext(
                self._version,
                operation_id=self._solution["operation_id"],
            )
        return self._context

    def fetch(self) -> "OperationInstance":
        """
        Fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        return self._proxy.fetch()

    async def fetch_async(self) -> "OperationInstance":
        """
        Asynchronous coroutine to fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        return await self._proxy.fetch_async()

    def fetch_with_http_info(self) -> ApiResponse:
        """
        Fetch the OperationInstance with HTTP info


        :returns: ApiResponse with instance, status code, and headers
        """
        return self._proxy.fetch_with_http_info()

    async def fetch_with_http_info_async(self) -> ApiResponse:
        """
        Asynchronous coroutine to fetch the OperationInstance with HTTP info


        :returns: ApiResponse with instance, status code, and headers
        """
        return await self._proxy.fetch_with_http_info_async()

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        context = " ".join("{}={}".format(k, v) for k, v in self._solution.items())
        return "<Twilio.Memory.V1.OperationInstance {}>".format(context)


class OperationContext(InstanceContext):

    def __init__(self, version: Version, operation_id: str):
        """
        Initialize the OperationContext

        :param version: Version that contains the resource
        :param operation_id: The operation ID returned from a write endpoint.
        """
        super().__init__(version)

        # Path Solution
        self._solution = {
            "operation_id": operation_id,
        }
        self._uri = "/ControlPlane/Operations/{operation_id}".format(**self._solution)

    def _fetch(self) -> tuple:
        """
        Internal helper for fetch operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        headers = values.of({})

        headers["Accept"] = "application/json"

        return self._version.fetch_with_response_info(
            method="GET", uri=self._uri, headers=headers
        )

    def fetch(self) -> OperationInstance:
        """
        Fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        payload, _, _ = self._fetch()
        return OperationInstance(
            self._version,
            payload,
            operation_id=self._solution["operation_id"],
        )

    def fetch_with_http_info(self) -> ApiResponse:
        """
        Fetch the OperationInstance and return response metadata


        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = self._fetch()
        instance = OperationInstance(
            self._version,
            payload,
            operation_id=self._solution["operation_id"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    async def _fetch_async(self) -> tuple:
        """
        Internal async helper for fetch operation

        Returns:
            tuple: (payload, status_code, headers)
        """

        headers = values.of({})

        headers["Accept"] = "application/json"

        return await self._version.fetch_with_response_info_async(
            method="GET", uri=self._uri, headers=headers
        )

    async def fetch_async(self) -> OperationInstance:
        """
        Asynchronous coroutine to fetch the OperationInstance


        :returns: The fetched OperationInstance
        """
        payload, _, _ = await self._fetch_async()
        return OperationInstance(
            self._version,
            payload,
            operation_id=self._solution["operation_id"],
        )

    async def fetch_with_http_info_async(self) -> ApiResponse:
        """
        Asynchronous coroutine to fetch the OperationInstance and return response metadata


        :returns: ApiResponse with instance, status code, and headers
        """
        payload, status_code, headers = await self._fetch_async()
        instance = OperationInstance(
            self._version,
            payload,
            operation_id=self._solution["operation_id"],
        )
        return ApiResponse(data=instance, status_code=status_code, headers=headers)

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        context = " ".join("{}={}".format(k, v) for k, v in self._solution.items())
        return "<Twilio.Memory.V1.OperationContext {}>".format(context)


class OperationList(ListResource):

    def __init__(self, version: Version):
        """
        Initialize the OperationList

        :param version: Version that contains the resource

        """
        super().__init__(version)

    def get(self, operation_id: str) -> OperationContext:
        """
        Constructs a OperationContext

        :param operation_id: The operation ID returned from a write endpoint.
        """
        return OperationContext(self._version, operation_id=operation_id)

    def __call__(self, operation_id: str) -> OperationContext:
        """
        Constructs a OperationContext

        :param operation_id: The operation ID returned from a write endpoint.
        """
        return OperationContext(self._version, operation_id=operation_id)

    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        return "<Twilio.Memory.V1.OperationList>"
